/* external css: flickity.css */

/** { box-sizing: border-box; }*/

body { font-family: sans-serif;

}

.carousel {
  background: #EEE;
}

.carousel img {
  display: block;
  height: 200px;
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 400px;
  }
}

.apply-padding{
    padding : 10px;
}
.grad{
   /*background: linear-gradient(#43cea2, #185a9d);
   background-repeat: repeat-y;*/
    background-image: url("../imgs/background.png");
}
